<html>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Prisijungti </h2>
      <h2 class="inactive underlineHover">Registruotis </h2>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="vartotojas">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="slaptažodis">
        <input type="submit" (click)="Login()" class="fadeIn fourth" value="Prisijungti">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Pamiršai slaptažodi?</a>
      </div>

    </div>
  </div>
</body>
</html>
